%div
  %ul
    My open bids
    - @user.bids.each do |bid|
      %li= link_to bid.job.title, bid.job
  %ul
    Jobs I can bid on
    - @my_jobs.each do |job|
      %li
        = link_to job.title, job


