%nav.navbar.navbar-default{role: "navigation"}

  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .accessible
      <a href="#content">Skip to main content</a>
      <a href="#main_nav">Skip to navigation</a>
    = link_to image_tag('fix8_logo.png', id: 'logo'), root_path, :class => 'navbar-brand', :id => 'logo'
    /‘infinite possibilities for getting your jobs done’
  / Collect the nav links, forms, and other content for toggling
  .navbar-collapse.collapse
    %ul.nav.navbar-nav.navbar-right
      %li
        =link_to "Home", root_path

      %li
        = link_to "About", '#'

      %li
        = link_to "FAQs", '#'

      %li
        = link_to "Support", '#'
