%div.form-group
  = label_tag :password, "Password", class: "col-sm-2 control-label"
  %div.col-sm-4
    = password_field :user, "password"
%div.form-group
  = label_tag :password_confirmation, "Confirm Password", class: "col-sm-2 control-label"
  %div.col-sm-4
    = password_field :user, "password_confirmation"
