= form_for :user_skill, { url: "user_skills", method: "post" }  do |f|
  %ul.skill-list
    -@skills.each do |skill|
      %li
        =f.label skill.name
        =f.check_box skill.name, checked: @user.skills.include?(skill)
    =f.submit "Update skills", class: "btn btn-primary"
