=render partial: 'no_skills' if @user.skills.length == 0
%div
  %ul
    My open bids
    - @my_jobs.each do |job|
      %li= link_to job.title, job
  Jobs I can bid on
  %ul
    -@user.skills.each do |skill|
      %li
        =skill.name
        %ul
          - @my_jobs.each do |job|
            %li
              = link_to job.title, job

  %h2 Completed Jobs
  %ul




