=render partial: 'no_skills' if @user.skills.length == 0
%div#main-container.container-fluid
  %div#row
    %div#sidebar.col-xs-4
      %h2 My Bids
      %table.table.table-hover.table-bordered
        - @my_open_jobs.each do |job|
          %tr
            %td= link_to job.title, job
    %div#sidebar.col-xs-4
      %h2 Available Jobs
      %table.table.table-hover.table-striped
        -@user.skills.each do |skill|
          %tr
            %td.info
              =skill.name
          - (skill.available_jobs - @my_jobs).each do |job|
            %tr
            %td.col-xs-4
              %td.col-xs-8
                = link_to job.title, job
    %div#sidebar.col-xs-4
      %h2 Completed Jobs
      %table.table.table-hover.table-bordered
        - @my_completed_jobs.each do |job|
          %tr
            %td= link_to job.title, job





