%div#main-container.container-fluid
  %div#row
    %div#sidebar.col-xs-4
      %h2 Open Jobs
      %table.table.table-hover.table-bordered
        - @lord_pending_jobs.each do |job|
          %tr
            %td= link_to job.title, job
        %tr.success.active
          %td= link_to 'Add a Job', new_job_path, id: "add_a_job_link"
    %div#sidebar.col-xs-4
      %h2 Completed Jobs
      %table.table.table-hover.table-bordered
        - @lord_completed_jobs.each do |completed_job|
          %tr
            %td=link_to completed_job.title, completed_job
            - if completed_job.reviews.where(review_for: 1).empty?
              %td=link_to 'Add a Review', new_job_bid_review_path(completed_job, completed_job.find_accepted_bid)
              - if completed_job.reviews.count == 0
                %td You need to add a review!
    %div#sidebar.col-xs-4
      %h2 My properties
      %ul
        - @properties.each do |property|
          %li
            = property.name
            = property.address
