%h1 User
= @viewed_user.name
%p= @viewed_user.address
%p= @viewed_user.phone_number
%ul
  Received Reviews
  -@viewed_user.received_reviews.each do |review|
    %li
      Rating
      =review.rating
      Comments
      =review.description
